<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>    
        <section>
        <center>         
            <form class = "grid" action="/result" method = "POST">
                <fieldset>
                    <legend> Password generator </legend>
                    <label for = "pass_length"> How long should be your new password: </label>
                    <input type = "text" name="pass_length" id = "pass_length">
                    <br/>
                    <h4>Choose types of symbols you want to see in your new password</h4>
                	<input type="checkbox" name="letters_value" value=True> Letters
                	<input type="checkbox" name="digits_value" value=True> Digits
                	<input type="checkbox" name="special_characters_value" value=True> Special characters
                	<input type = "Submit" class = "file_submit"> 
                </fieldset>	
            </form>
            </center>
        </section>
    </body>

</html>