<html>
    <head>
        <h2>Password generator</h2>
    </head>
    <body>    
        <section>
            <h4>Choose types of symbols you want to see in your new password</h4>
            <form class = "grid" action="/result" method = "POST">
            	<input type="checkbox" name="letters_value" value="True"> Letters
            	<input type="checkbox" name="digits_value" value="True"> Digits
            	<input type="checkbox" name="special_characters_value" value="True"> Special characters
            	<input type = "Submit" class = "file_submit">
            
            
            {% if letters_value, digits_value, special_characters_value%}
            <h4>Your new password:</h4>
            <h3  style="color: blue;">Letters: {{letters_value}}</h3>
            <h3  style="color: blue;">Letters: {{digits_value}}</h3>
            <h3  style="color: blue;">Letters: {{special_characters_value}}</h3>
            {% endif %}
            
            
            </form>
        </section>
    </body>

</html>